/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.row {
  box-sizing: border-box;
  margin: 0 -15px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.natural-height {
  align-items: flex-start;
}

.row.flex-column {
  flex-direction: column;
}

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 0 1.5rem;
}

.col.reverse {
  flex-direction: column-reverse;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-baseline {
  align-self: baseline;
}

.align-stretch {
  align-self: stretch;
}

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 0 1.5rem;
}

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 0 1.5rem;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 0 1.5rem;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 0 1.5rem;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 0 1.5rem;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 0 1.5rem;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 0 1.5rem;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 0 1.5rem;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 0 1.5rem;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 0 1.5rem;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 0 1.5rem;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 0 1.5rem;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 0 1.5rem;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.row.start-xs {
  justify-content: flex-start;
}

.row.center-xs {
  justify-content: center;
}

.row.end-xs {
  justify-content: flex-end;
}

.row.top-xs {
  align-items: flex-start;
}

.row.middle-xs {
  align-items: center;
}

.row.bottom-xs {
  align-items: flex-end;
}

.row.around-xs {
  justify-content: space-around;
}

.row.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 576px) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 0 1.5rem;
  }

  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 0 1.5rem;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 0 1.5rem;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 1.5rem;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 0 1.5rem;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 0 1.5rem;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 1.5rem;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 0 1.5rem;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 0 1.5rem;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 0 1.5rem;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 0 1.5rem;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 0 1.5rem;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 1.5rem;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .row.start-sm {
    justify-content: flex-start;
  }

  .row.center-sm {
    justify-content: center;
  }

  .row.end-sm {
    justify-content: flex-end;
  }

  .row.top-sm {
    align-items: flex-start;
  }

  .row.middle-sm {
    align-items: center;
  }

  .row.bottom-sm {
    align-items: flex-end;
  }

  .row.around-sm {
    justify-content: space-around;
  }

  .row.between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 768px) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 0 1.5rem;
  }

  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 0 1.5rem;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 0 1.5rem;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 1.5rem;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 0 1.5rem;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 0 1.5rem;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 1.5rem;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 0 1.5rem;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 0 1.5rem;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 0 1.5rem;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 0 1.5rem;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 0 1.5rem;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 1.5rem;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .row.start-md {
    justify-content: flex-start;
  }

  .row.center-md {
    justify-content: center;
  }

  .row.end-md {
    justify-content: flex-end;
  }

  .row.top-md {
    align-items: flex-start;
  }

  .row.middle-md {
    align-items: center;
  }

  .row.bottom-md {
    align-items: flex-end;
  }

  .row.around-md {
    justify-content: space-around;
  }

  .row.between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 992px) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 0 1.5rem;
  }

  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 0 1.5rem;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 0 1.5rem;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 1.5rem;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 0 1.5rem;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 0 1.5rem;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 1.5rem;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 0 1.5rem;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 0 1.5rem;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 0 1.5rem;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 0 1.5rem;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 0 1.5rem;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 1.5rem;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .row.start-lg {
    justify-content: flex-start;
  }

  .row.center-lg {
    justify-content: center;
  }

  .row.end-lg {
    justify-content: flex-end;
  }

  .row.top-lg {
    align-items: flex-start;
  }

  .row.middle-lg {
    align-items: center;
  }

  .row.bottom-lg {
    align-items: flex-end;
  }

  .row.around-lg {
    justify-content: space-around;
  }

  .row.between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
@media only screen and (min-width: 1200px) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 0 1.5rem;
  }

  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 0 1.5rem;
  }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 0 1.5rem;
  }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 1.5rem;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 0 1.5rem;
  }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 0 1.5rem;
  }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 1.5rem;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 0 1.5rem;
  }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 0 1.5rem;
  }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 0 1.5rem;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 0 1.5rem;
  }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 0 1.5rem;
  }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 1.5rem;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .row.start-xl {
    justify-content: flex-start;
  }

  .row.center-xl {
    justify-content: center;
  }

  .row.end-xl {
    justify-content: flex-end;
  }

  .row.top-xl {
    align-items: flex-start;
  }

  .row.middle-xl {
    align-items: center;
  }

  .row.bottom-xl {
    align-items: flex-end;
  }

  .row.around-xl {
    justify-content: space-around;
  }

  .row.between-xl {
    justify-content: space-between;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }
}
.col-gutter-lr {
  padding: 0 1.5rem;
}

.col-no-gutter {
  padding: 0;
}

.show {
  display: block !important;
}

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 575.9px) {
  .show-xs-only {
    display: block !important;
  }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) {
  .show-sm {
    display: block !important;
  }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.9px) {
  .show-sm-only {
    display: block !important;
  }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm-only {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .show-md {
    display: block !important;
  }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.9px) {
  .show-md-only {
    display: block !important;
  }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md-only {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .show-lg {
    display: block !important;
  }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.9px) {
  .show-lg-only {
    display: block !important;
  }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) {
  .show-xl {
    display: block !important;
  }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xl {
    display: none !important;
  }
}
.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0;
}
.breadcrumb > li {
  line-height: 20px;
  display: inline-block;
  font-size: 1.4rem;
}
.breadcrumb > li:after {
  content: ">";
  padding: 0 5px;
}
.form_control {
  margin: 0;
  width: 100%;
  outline: none;
  height: 40px;
  color: #000;
  background: #fff;
  padding: 1rem 1rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #DFE6EE;
}
.form_control::-moz-placeholder {
  color: #7a7a7a;
  opacity: 1;
}
.form_control:-ms-input-placeholder {
  color: #7a7a7a;
}
.form_control::-webkit-input-placeholder {
  color: #7a7a7a;
}
.form_control::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form_control:focus, .form_control:active {
  outline: none;
  border-color: #0099FA;
}
.form_control:focus::-moz-placeholder, .form_control:active::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_control:focus:-ms-input-placeholder, .form_control:active:-ms-input-placeholder {
  color: transparent;
}
.form_control:focus::-webkit-input-placeholder, .form_control:active::-webkit-input-placeholder {
  color: transparent;
}

textarea.form_control {
  height: auto;
}

.form_select {
  margin: 0;
  width: 100%;
  outline: none;
  height: 40px;
  color: #000;
  background: #fff;
  font-size: 1.4rem;
  line-height: 1.8rem;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #DFE6EE;
  padding: 0.8rem 2rem 0.9rem 1rem;
}
.form_select::-moz-placeholder {
  color: #dddddd;
  opacity: 1;
}
.form_select:-ms-input-placeholder {
  color: #dddddd;
}
.form_select::-webkit-input-placeholder {
  color: #dddddd;
}
.form_select::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form_select:focus, .form_select:active {
  outline: none;
  border-color: #0099FA;
}
.form_select:focus::-moz-placeholder, .form_select:active::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_select:focus:-ms-input-placeholder, .form_select:active:-ms-input-placeholder {
  color: transparent;
}
.form_select:focus::-webkit-input-placeholder, .form_select:active::-webkit-input-placeholder {
  color: transparent;
}

.form_control_sm {
  height: 32px;
  font-size: 1.2rem;
  padding: 0.6rem 0.6rem;
}

.form_select_sm {
  height: 32px;
  font-size: 1.2rem;
  padding: 0.6rem 2rem 0.6rem 0.6rem;
}

.form_radio {
  font-size: 0;
  line-height: 0;
  padding: 7px 0;
  font-weight: 400;
  display: inline-block;
}
.form_radio input {
  display: none;
}
.form_radio span {
  cursor: pointer;
  font-size: 1.4rem;
  line-height: 1.6rem;
  position: relative;
  display: inline-block;
  padding: 5px 0 5px 36px;
}
.form_radio span:before {
  top: 0;
  left: 0;
  z-index: 1;
  content: "";
  width: 26px;
  height: 26px;
  background: #fff;
  position: absolute;
  display: inline-block;
  border: 1px solid #DFE6EE;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.form_radio span:after {
  top: 7px;
  left: 7px;
  z-index: 5;
  content: "";
  width: 12px;
  height: 12px;
  background: #fff;
  position: absolute;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.form_radio span:hover:before {
  border-color: #0099FA;
}
.form_radio input:checked + span:before {
  background: #0099FA;
  border-color: #0099FA;
}

.form_checkbox {
  margin: 0;
  font-size: 0;
  line-height: 0;
  font-weight: 400;
  display: inline-block;
}
.form_checkbox input {
  display: none;
}
.form_checkbox span {
  color: #000;
  cursor: pointer;
  position: relative;
  font-size: 1.2rem;
  line-height: 2rem;
  padding-left: 3rem;
  display: inline-block;
}
.form_checkbox span:after {
  top: 0;
  left: 0;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  display: inline-block;
  border: 1px solid #E0DEE9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.form_checkbox span:before {
  top: 4px;
  left: 3px;
  content: "";
  width: 14px;
  height: 12px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: inline-block;
  background: url("../img/icon_check.svg") 50% no-repeat;
  background-size: cover;
}
.form_checkbox span:hover:after {
  border-color: #0099FA;
}
.form_checkbox input:checked + span:before {
  opacity: 1;
  visibility: visible;
}

.form_file {
  width: 100%;
  cursor: pointer;
  font-weight: 400;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.form_file__input {
  display: none;
}
.form_file__icon {
  width: 40px;
  height: 40px;
  color: #0099FA;
  padding: 9px 0;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  background: #fff;
  display: inline-block;
  -webkit-flex-shrink: 1;
  -moz-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  border: 1px solid #DFE6EE;
}
.form_file__text {
  height: 40px;
  padding: 1rem;
  max-width: 100%;
  overflow: hidden;
  background: #fff;
  font-size: 1.4rem;
  line-height: 1.8rem;
  white-space: nowrap;
  display: inline-block;
  border-top: 1px solid #DFE6EE;
  border-bottom: 1px solid #DFE6EE;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.form_file__text span {
  max-width: 100%;
  overflow: hidden;
  display: inline-block;
}
.form_file__btn {
  color: #fff;
  width: 100px;
  height: 40px;
  padding: 10px;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  background: #0099FA;
  display: inline-block;
  -webkit-flex-shrink: 1;
  -moz-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.input_group {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.input_group .form_control {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.input_group .input_group_append {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.input_group .input_group_label {
  width: 110px;
  padding: 10px;
  color: #262626;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: center;
  background: #DFE6EE;
  display: inline-block;
}
.form_divider {
  height: 4px;
  background: #fff;
  margin-bottom: 15px;
}

.form_group {
  margin-bottom: 15px;
}

.form_label {
  display: block;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .form_group_inline .form_label_md {
    padding-top: 1rem;
    margin-bottom: 0;
    text-align: right;
  }
}
@media (min-width: 992px) {
  .form_group_inline .form_label {
    padding-top: 1rem;
    margin-bottom: 0;
    text-align: right;
  }
}

.form_box {
  margin-bottom: 30px;
}

.form_info {
  color: #fff;
  padding: 10px;
  font-size: 1.3rem;
  line-height: 2rem;
  background: #B0BAC5;
}

.form_interval {
  padding: 0;
  width: 120px;
  margin: 0 -2px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.form_interval > li {
  width: 50%;
  padding: 0 2px;
}

.divider_white {
  height: 5px;
  background: #fff;
  margin-bottom: 15px;
}

.btn {
  color: #0099FA;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding: 14px 40px;
  outline: none;
  cursor: pointer;
  user-select: none;
  text-align: center;
  background: transparent;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #0099FA;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  border-radius: 24px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn:hover {
  color: #fff;
  background: #0099FA;
  text-decoration: none;
}
.btn:focus, .btn.focus {
  outline: 0;
}

.btn_border_rose {
  color: #DC009F;
  border-color: #DC009F;
}
.btn_border_rose:hover {
  color: #fff;
  background: #DC009F;
}

.btn_border_red {
  color: #B10000;
  border-color: #B10000;
}
.btn_border_red:hover {
  color: #fff;
  background: #B10000;
}

.btn_border_blue {
  background: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.btn_blue {
  color: #fff;
  background: #0099FA;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.btn_blue:hover {
  background: #fff;
  color: #0099FA;
}

.btn_sm {
  padding: 8px 30px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  border-radius: 18px;
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}

.table {
  margin-bottom: 30px;
}
.table th {
  padding: 10px;
  text-align: left;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.4rem;
}
.table tr td {
  background: #fff;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 15px 10px;
  border-top: 1px solid #DFE6EE;
  border-bottom: 1px solid #DFE6EE;
}
.table tr td:first-child {
  border-left: 1px solid #DFE6EE;
}
.table tr td:last-child {
  border-right: 1px solid #DFE6EE;
}
.table tr:nth-child(even) td {
  background: #F4F7FA;
}
.table tr:hover td {
  background: #f5f5f5;
}
.table .form_select_sm,
.table .form_control_sm {
  max-width: 160px;
}

@media (max-width: 991.9px) {
  .table_responsive {
    width: 100%;
    margin-bottom: 30px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table_responsive .table {
    margin-bottom: 0;
  }
}
.sort {
  cursor: pointer;
  display: inline-block;
}
.sort i {
  font-size: 1.4rem;
}
.sort.active {
  color: #0099FA;
}
.sort.active i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.dataTables_paginate {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

.paginate_button {
  cursor: pointer;
  margin: 20px 2px 5px 2px;
  width: 40px;
  height: 40px;
  color: #000000;
  padding: 10px 0;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.8rem;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #F4F7FA;
}
.paginate_button:hover {
  background: #DFE6EE;
  text-decoration: none;
}
.paginate_button.next, .paginate_button.previous {
  display: none !important;
}
.paginate_button.current {
  background: #DFE6EE;
}

.dataTables_length {
  margin-bottom: 10px;
}
.dataTables_length label {
  display: block;
}
.dataTables_length select {
  margin: 0;
  width: auto;
  outline: none;
  height: 32px;
  font-size: 1.2rem;
  padding: 0.6rem 0.6rem;
  color: #000;
  background: #fff;
  line-height: 1.8rem;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #DFE6EE;
}
.dataTables_length select::-moz-placeholder {
  color: #dddddd;
  opacity: 1;
}
.dataTables_length select:-ms-input-placeholder {
  color: #dddddd;
}
.dataTables_length select::-webkit-input-placeholder {
  color: #dddddd;
}
.dataTables_length select::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.dataTables_length select:focus, .dataTables_length select:active {
  outline: none;
  border-color: #0099FA;
}
.dataTables_length select:focus::-moz-placeholder, .dataTables_length select:active::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.dataTables_length select:focus:-ms-input-placeholder, .dataTables_length select:active:-ms-input-placeholder {
  color: transparent;
}
.dataTables_length select:focus::-webkit-input-placeholder, .dataTables_length select:active::-webkit-input-placeholder {
  color: transparent;
}

.dataTables_filter {
  margin-bottom: 10px;
}
.dataTables_filter input {
  margin: 0;
  width: 160px;
  outline: none;
  color: #000;
  background: #fff;
  line-height: 1.8rem;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  font-size: 1.2rem;
  padding: 0.6rem 0.6rem;
  border: 1px solid #DFE6EE;
}
.dataTables_filter input::-moz-placeholder {
  color: #7a7a7a;
  opacity: 1;
}
.dataTables_filter input:-ms-input-placeholder {
  color: #7a7a7a;
}
.dataTables_filter input::-webkit-input-placeholder {
  color: #7a7a7a;
}
.dataTables_filter input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.dataTables_filter input:focus, .dataTables_filter input:active {
  outline: none;
  border-color: #0099FA;
}
.dataTables_filter input:focus::-moz-placeholder, .dataTables_filter input:active::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.dataTables_filter input:focus:-ms-input-placeholder, .dataTables_filter input:active:-ms-input-placeholder {
  color: transparent;
}
.dataTables_filter input:focus::-webkit-input-placeholder, .dataTables_filter input:active::-webkit-input-placeholder {
  color: transparent;
}

.pagination {
  padding: 0;
  font-size: 0;
  line-height: 0;
  margin: 0 -4px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
.pagination li {
  width: 40px;
  height: 40px;
  margin: 0 4px 8px 4px;
  display: inline-block;
}
.pagination li a {
  width: 40px;
  height: 40px;
  color: #000000;
  padding: 10px 0;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.8rem;
  display: inline-block;
  border: 1px solid #F4F7FA;
}
.pagination li a:hover {
  background: #DFE6EE;
}
.pagination li span {
  width: 40px;
  height: 40px;
  color: #000000;
  padding: 10px 0;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.8rem;
  display: inline-block;
  border: 1px solid #F4F7FA;
}
.pagination li.active a,
.pagination li.active span {
  background: #DFE6EE;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.color-red {
  color: #B10000 !important;
}

.color-blue {
  color: #0099FA !important;
}

.color-green {
  color: #00A62E !important;
}

.color-rose {
  color: #DC009F !important;
}

.color-gray {
  color: #8091A5 !important;
}

.mb-5 {
  margin-bottom: 0 !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-5 {
  padding-top: 5px !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #fff;
  font-size: 1.4rem;
  line-height: 1.42857;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 576px) {
  .container {
    width: 530px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 3.2rem;
  margin-bottom: 2rem;
  font-family: "Open Sans", Arial, sans-serif;
}

h2, .h2 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: "Open Sans", Arial, sans-serif;
}

h3, .h3 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Open Sans", Arial, sans-serif;
}

h4, .h4 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 2rem;
  font-family: "Open Sans", Arial, sans-serif;
}

h5, .h5 {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  font-family: "Open Sans", Arial, sans-serif;
}

h6, .h6 {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
  font-family: "Open Sans", Arial, sans-serif;
}

p {
  padding: 0;
  margin: 0 0 15px 0;
}

a {
  outline: none;
  color: #0099FA;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #0099FA;
  text-decoration: underline;
}
a.link_black {
  color: #000;
}
a.link_black:hover {
  color: #000;
  text-decoration: underline;
}

.page {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 992px) {
  .page {
    overflow-x: inherit;
  }
}

.main {
  padding-top: 40px;
  padding-bottom: 50px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.heading {
  padding: 30px 0;
  background: rgba(0, 153, 250, 0.03);
}
.heading h1,
.heading .h1 {
  padding: 0;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 0 0 20px 0;
  text-transform: uppercase;
}
.heading h1 sub,
.heading .h1 sub {
  bottom: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-transform: lowercase;
}
.heading__filter {
  padding: 0;
  margin: 0 -7px;
  font-size: 0;
  line-height: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.heading__filter li {
  display: inline-block;
  margin: 0 7px 10px 7px;
}
.heading__filter li a {
  padding: 8px 12px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #0099FA;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #0099FA;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.heading__filter li a:hover {
  color: #fff;
  background: #0099FA;
}
.heading__filter li.active a {
  color: #fff;
  background: #0099FA;
}
.heading__link {
  margin-bottom: 15px;
  display: inline-block;
  color: #0099FA;
  margin-right: 10px;
}
.heading__link:hover {
  color: #0099FA;
  text-decoration: underline;
}
.heading_white {
  background: #fff;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .heading__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .heading h1,
.heading .h1 {
    margin: 0;
    padding: 9px 0;
  }
  .heading__link {
    margin-top: -5px;
    margin-bottom: 0;
  }
}

.change_position {
  margin: 0;
  padding: 0;
  width: 30px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.change_position li {
  width: 14px;
  height: 20px;
  font-size: 2rem;
  line-height: 2rem;
  cursor: pointer;
}

.btn_next {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #0099FA;
  position: relative;
  text-decoration: none;
  padding: 5px 15px 5px 0;
  text-transform: uppercase;
}
.btn_next i {
  top: 0;
  right: 0;
  font-size: 2.4rem;
  line-height: 2.4rem;
  position: absolute;
}
.btn_next:hover {
  color: #DC009F;
  text-decoration: none;
}

.new_question {
  margin-bottom: 10px;
  padding: 20px 20px 20px 20px;
  background: rgba(0, 153, 250, 0.05);
}
.new_question__remove {
  color: #BA0000;
  font-size: 1.2rem;
  line-height: 1.6rem;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 5px;
}
.new_question__remove:hover {
  color: #BA0000;
  text-decoration: underline;
}
.new_question__position {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}
.new_question__position li {
  font-size: 1.2rem;
  line-height: 1.6rem;
  display: inline-block;
  text-transform: lowercase;
}
.new_question__position li:after {
  content: "|";
  padding: 0 4px;
}
.new_question__position li:last-child:after {
  display: none;
}
.new_question__position li a {
  color: #0099FA;
  text-decoration: underline;
}
.new_question__position li a:hover {
  color: #0099FA;
  text-decoration: none;
}
@media (min-width: 768px) {
  .new_question__position {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
  }
  .new_question__label {
    text-align: right;
  }
}

.users_list {
  padding: 0;
  color: #0099FA;
  font-size: 1.4rem;
  line-height: 2rem;
  list-style: none;
  margin: 0 -15px 30px -15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.users_list > li {
  width: 50%;
  padding: 2px 15px;
}
.users_list > li a,
.users_list > li span {
  max-width: 100%;
  white-space: nowrap;
  display: inline-block;
}
.users_list > li a {
  overflow: hidden;
  color: #0099FA;
  text-decoration: none;
}
.users_list > li a:hover {
  color: #0099FA;
  text-decoration: underline;
}
@media (min-width: 768px) {
  .users_list > li {
    width: 33.33%;
  }
}
@media (min-width: 992px) {
  .users_list > li {
    width: 20%;
  }
}
.users_work {
  padding: 0;
  color: #0099FA;
  font-size: 1.4rem;
  line-height: 2rem;
  list-style: none;
  margin: 0 -15px 30px -15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.users_work > li {
  width: 50%;
  padding: 0 15px;
  margin-bottom: 30px;
}
.users_work > li a {
  color: #000;
  display: block;
  position: relative;
  text-decoration: none;
}
.users_work > li span {
  top: 10px;
  right: 10px;
  font-size: 1.4rem;
  line-height: 2rem;
  position: absolute;
  display: inline-block;
}
@media (min-width: 768px) {
  .users_work > li {
    width: 33.33%;
  }
}
@media (min-width: 992px) {
  .users_work > li {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .users_work > li {
    width: 16.66%;
  }
}

.users_avatar {
  width: 26px;
  height: 26px;
  font-size: 0;
  line-height: 0;
  margin-right: 10px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.users_avatar img {
  height: auto;
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

.users_status {
  width: 10px;
  height: 10px;
  margin-right: 8px;
  background: #0099FA;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.users_status_green {
  background: #00A62E;
}
.users_status_rose {
  background: #DC009F;
}
.users_status_yellow {
  background: #F7B422;
}
.users_status_purple {
  background: #AA00D5;
}
.users_status_black {
  background: #000;
}

.competition {
  margin-bottom: 30px;
}
.competition h3 {
  margin-bottom: 5px;
}
.competition__image {
  display: block;
  margin-bottom: 30px;
}
.competition__info {
  font-size: 1.3rem;
  line-height: 2rem;
}
.competition__info .h3 {
  margin-bottom: 5px;
}
.competition__info p {
  margin-bottom: 20px;
}
.competition__voice {
  padding: 0;
  list-style: none;
  margin: 0 -15px 30px -15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.competition__voice > li {
  width: 100%;
  padding: 2px 15px;
}
@media (min-width: 768px) {
  .competition__voice > li {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .competition__image {
    margin-bottom: 0;
  }
  .competition__voice > li {
    width: 33.33%;
  }
}

.confirmation > ul {
  margin: -1px 0 0 0;
  padding: 15px;
  list-style: none;
  border: 1px solid #DFE6EE;
}
.confirmation > ul:first-child {
  margin: 0;
}
.confirmation > ul:nth-child(odd) {
  background: #F4F7FA;
}
.confirmation > ul > li {
  margin-bottom: 10px;
}
.confirmation__buttons {
  margin: 0;
  padding: 0;
  list-style: none;
}
.confirmation__buttons > li:first-child {
  margin-bottom: 10px;
}
.confirmation__buttons .btn {
  width: 100%;
}
.confirmation .form_control {
  background: #F6FBFF;
  border-color: #D8E6F3;
}
@media (min-width: 576px) {
  .confirmation__buttons {
    margin: 0 -10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .confirmation__buttons > li {
    width: 50%;
    padding: 0 10px;
  }
  .confirmation__buttons > li:first-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .confirmation > ul {
    padding: 15px 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .confirmation > ul > li {
    padding: 0 10px;
  }
  .confirmation > ul > li:nth-child(1) {
    width: 130px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .confirmation > ul > li:nth-child(3) {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .confirmation > ul > li:nth-child(4) {
    width: 190px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .confirmation .form_control {
    height: 100%;
  }
  .confirmation__buttons {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .confirmation__buttons > li {
    width: 100%;
  }
  .confirmation__buttons > li:first-child {
    margin-bottom: 10px;
  }
}
@media (min-width: 992px) {
  .confirmation > ul > li:nth-child(1) {
    width: 180px;
  }
}

.image_manager {
  padding: 6px 0;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: right;
}
.image_manager a {
  color: #0099FA;
}
.image_manager a:hover {
  color: #0099FA;
  text-decoration: underline;
}
.image_manager .image_manager__remove {
  color: #DC009F;
}
.image_manager .image_manager__remove:hover {
  color: #DC009F;
  text-decoration: underline;
}

.center_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.center_box_inner {
  width: 100%;
  margin: auto 0;
}

.header {
  z-index: 1050;
  padding: 20px 0;
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}
.header__logo {
  float: left;
  width: 172px;
  height: 36px;
  padding: 2px 0;
  display: block;
}
.header__nav {
  left: 0;
  top: 80px;
  opacity: 0;
  width: 100%;
  z-index: 1000;
  display: block;
  background: #fff;
  position: absolute;
  visibility: hidden;
  height: calc(100vh - 80px);
  padding: 30px 15px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__nav ul {
  margin: 0 auto;
  padding: 0 15px;
  list-style: none;
}
.header__nav ul li a {
  width: 100%;
  color: #8091A5;
  padding: 6px 0;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2rem;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}
.header__nav ul li a i {
  font-style: normal;
  padding: 0 2px;
  height: 16px;
  width: 24px;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  margin-left: 10px;
  text-align: center;
  display: inline-block;
  background: #DC009F;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
.header__nav ul li a:hover {
  color: #DC009F;
  text-decoration: none;
}
.header__nav ul li.active a {
  color: #DC009F;
}
.header__toggle {
  float: right;
  width: 40px;
  height: 40px;
  font-size: 0;
  line-height: 0;
  display: block;
  padding: 11px 11px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(63, 18, 110, 0.25);
  box-shadow: 0px 0px 17px 0px rgba(63, 18, 110, 0.25);
}
.header__toggle span {
  width: 100%;
  height: 3px;
  margin-bottom: 4px;
  display: inline-block;
  background: #000;
}
.header__toggle span:last-child {
  margin-bottom: 0;
}
.header__settings {
  float: right;
  margin-right: 15px;
  position: relative;
}
.header__settings_button {
  width: 40px;
  height: 40px;
  font-size: 0;
  line-height: 0;
  display: block;
  position: relative;
  background: #fff url("../img/icon_settings.png") 50% 50% no-repeat;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(63, 18, 110, 0.25);
  box-shadow: 0px 0px 17px 0px rgba(63, 18, 110, 0.25);
}
.header__settings_button:before {
  top: 100%;
  left: 50%;
  content: "";
  z-index: 999;
  margin-top: -5px;
  margin-left: -10px;
  position: absolute;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__settings_dropdown {
  right: 0;
  top: 100%;
  opacity: 0;
  z-index: 998;
  border: none;
  min-width: 200px;
  position: absolute;
  visibility: hidden;
  padding: 1.5rem 0 0 0;
  display: inline-block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.header__settings_dropdown ul {
  margin: 0;
  background: #fff;
  padding: 0 10px;
  list-style: none;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(66, 3, 125, 0.35);
  box-shadow: 0px 0px 15px 0px rgba(66, 3, 125, 0.35);
}
.header__settings_dropdown ul li {
  border-bottom: 1px solid #E4D3F6;
}
.header__settings_dropdown ul li:last-child {
  border-bottom: none;
}
.header__settings_dropdown ul li a {
  width: 100%;
  padding: 14px 0;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #0099FA;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
}
.header__settings_dropdown ul li a:hover {
  color: #DC009F;
  text-decoration: none;
}
.header__settings:hover .header__settings_button:before {
  opacity: 1;
  visibility: visible;
}
.header__settings:hover .header__settings_dropdown {
  opacity: 1;
  visibility: visible;
}
@media (min-width: 576px) {
  .header__nav ul {
    width: 530px;
  }
}
@media (min-width: 768px) {
  .header__nav ul {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .header {
    padding: 30px 0;
  }
  .header .container {
    position: relative;
  }
  .header__toggle {
    display: none;
  }
  .header__settings {
    top: 0;
    right: 15px;
    margin-right: 0;
    position: absolute;
  }
  .header__nav {
    padding: 0;
    opacity: 1;
    top: auto;
    left: auto;
    right: auto;
    width: auto;
    height: auto;
    float: right;
    visibility: visible;
    margin-right: 60px;
    position: relative;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .header__nav ul {
    padding: 0;
    width: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .header__nav ul li {
    border-bottom: none;
  }
  .header__nav ul li a {
    font-size: 12px;
    padding: 10px 10px;
    position: relative;
  }
  .header__nav ul li a i {
    top: -5px;
    left: 50%;
    margin-left: -12px;
    position: absolute;
  }
}
@media (min-width: 1200px) {
  .header__nav ul li {
    padding: 0 8px;
  }
}

.nav_open {
  height: 100vh;
  overflow: hidden;
}
.nav_open .header__toggle {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.nav_open .header__nav {
  opacity: 1;
  visibility: visible;
}

.footer {
  color: #fff;
  padding: 25px 0;
  font-size: 1.4rem;
  line-height: 2rem;
  background: #004C7C;
}
.footer__nav {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.footer__nav li {
  margin-bottom: 5px;
}
.footer__nav li:last-child {
  margin-bottom: 0;
}
.footer__nav a {
  color: #fff;
  text-decoration: none;
}
.footer__nav a:hover {
  color: #fff;
  text-decoration: underline;
}
@media (min-width: 768px) {
  .footer__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
  }
  .footer__nav li:after {
    content: "|";
    padding: 0 5px;
    margin-bottom: 0;
  }
  .footer__nav li:last-child:after {
    display: none;
  }
}

.profile__nav {
  width: 185px;
  margin-bottom: 15px;
}
.profile__nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.profile__nav ul li a {
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 6px 10px;
  color: #0099FA;
  white-space: nowrap;
  display: inline-block;
}
.profile__nav ul li a:hover {
  color: #DC009F;
}
.profile__nav ul li.active a {
  background: #fff;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 153, 250, 0.2);
  box-shadow: 0px 0px 25px rgba(0, 153, 250, 0.2);
}
.profile__content {
  padding: 20px 20px 40px 20px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 153, 250, 0.2);
  box-shadow: 0px 0px 25px rgba(0, 153, 250, 0.2);
}
.profile__heading {
  position: relative;
  margin-bottom: 20px;
}
.profile__heading h3 {
  margin-bottom: 5px;
}
.profile__heading_value {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
  color: #00A62E;
  text-transform: uppercase;
  font-family: "Open Sans", Arial, sans-serif;
}
.profile__photo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.profile__photo_item {
  width: 150px;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.profile__photo_text {
  padding-left: 20px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.profile__photo_remove {
  color: #B10000;
  text-decoration: underline;
}
.profile__photo_remove:hover {
  color: #B10000;
  text-decoration: none;
}
.profile_status {
  padding-top: 1rem;
  display: inline-block;
}
.profile_divider {
  padding-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(0, 183, 241, 0.3);
}
.profile__work {
  padding: 0;
  margin: 0 -15px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.profile__work > li {
  width: 50%;
  padding: 0 15px;
  margin-bottom: 30px;
}
.profile__work > li a {
  color: #000;
  display: block;
  position: relative;
  text-decoration: none;
}
.profile__work > li span {
  top: 10px;
  right: 10px;
  font-size: 1.4rem;
  line-height: 2rem;
  position: absolute;
  display: inline-block;
}
.profile__social {
  margin: 0;
  padding: 0;
  list-style: none;
}
.profile__social li {
  margin-bottom: 4px;
}
.profile__social li a {
  color: #000;
  text-decoration: none;
}
.profile__social li a:hover {
  color: #000;
  text-decoration: underline;
}
@media (min-width: 768px) {
  .profile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .profile__nav {
    -webkit-flex-shrink: 1;
    -moz-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
  }
  .profile__nav ul li a {
    width: 100%;
    padding: 15px 20px;
    text-align: right;
  }
  .profile__content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .profile__heading h3 {
    margin-bottom: 0;
  }
  .profile__heading_value {
    top: 0;
    right: 0;
    position: absolute;
  }
  .profile__photo_item {
    width: 186px;
  }
  .profile__work > li {
    width: 25%;
  }
}
@media (min-width: 992px) {
  .profile__nav {
    width: 200px;
  }
  .profile__nav ul li a {
    width: 100%;
    padding: 15px 35px 15px 20px;
    text-align: right;
  }
  .profile__content {
    padding: 30px 30px 40px 30px;
  }
  .profile__social {
    padding-top: 1rem;
  }
}
.photo_form {
  width: 100%;
  cursor: pointer;
  display: block;
  border: 1px solid #DFE6EE;
}
.photo_form input {
  display: none;
}

.point_list {
  margin: 0;
  list-style: none;
  padding: 10px 0 0 0;
}
.point_list li {
  margin-bottom: 4px;
}
.point_list li:last-child {
  margin-bottom: 0;
}

.prize__heading {
  margin-bottom: 20px;
}
.prize__heading_left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.prize__heading h3 {
  margin-bottom: 0;
  margin-right: 10px;
}
.prize__remove {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #DC009F;
  text-decoration: none;
}
.prize__remove:hover {
  color: #DC009F;
  text-decoration: underline;
}
.prize__nav {
  font-size: 1.2rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .prize__heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .prize__heading_left {
    padding-right: 20px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .prize__heading_right {
    text-align: right;
  }
}

.test_type {
  display: none;
}
.test_type.active {
  display: block;
}

.auth_page {
  width: 100%;
  overflow: hidden;
  background: #fff;
  min-height: 100vh;
  position: relative;
  padding: 40px 20px;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 768px) {
  .auth_page {
    padding: 50px 40px;
  }
}

.auth {
  z-index: 100;
  margin: auto;
  padding: 25px 15px;
  background: #fff;
  max-width: 780px;
  position: relative;
  -webkit-box-shadow: 0px 0px 40px rgba(68, 23, 113, 0.08);
  box-shadow: 0px 0px 40px rgba(68, 23, 113, 0.08);
}
.auth .auth_form .auth_form_title {
  color: #000;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
  line-height: 2.4rem;
  text-transform: uppercase;
  font-family: "Open Sans", Arial, sans-serif;
}
.auth .auth_form .auth_form_button {
  padding-top: 20px;
}
.auth .auth_form .form_group {
  margin-bottom: 10px;
}
.auth .auth_form .btn_large {
  width: 100%;
}
@media (min-width: 576px) {
  .auth {
    padding: 50px 40px 70px 40px;
  }
  .auth .auth_form .auth_form_title {
    font-size: 2.8rem;
    line-height: 3rem;
  }
}
@media (min-width: 768px) {
  .auth {
    width: 600px;
    padding: 50px 80px 70px 80px;
  }
  .auth .auth_form {
    width: 100%;
    margin: auto 0;
  }
}
@media (min-width: 992px) {
  .auth {
    width: 760px;
    padding: 50px 120px 70px 120px;
  }
  .auth .auth_form {
    width: 100%;
    margin: auto 0;
  }
}

.form_elem {
  position: relative;
}
.form_elem:before {
  top: 50%;
  z-index: 1;
  left: 61px;
  width: 1px;
  content: "";
  height: 24px;
  display: block;
  margin-top: -12px;
  position: absolute;
  background: #C3C2C3;
}
.form_elem.focus:before {
  background: #0099FA;
}
.form_elem.focus .form_elem_icon.icon_envelope .ico-svg {
  fill: #0099FA;
}
.form_elem.focus .form_elem_icon.icon_lock {
  width: 34px;
  height: 33px;
  margin-top: -17px;
}
.form_elem.focus .form_elem_icon.icon_lock .ico-svg {
  stroke: #0099FA;
}
.form_elem.focus .form_elem_control {
  color: #0099FA;
  border-bottom-color: #0099FA;
}
.form_elem.focus .form_elem_control::-moz-placeholder {
  color: #0099FA;
  opacity: 1;
}
.form_elem.focus .form_elem_control:-ms-input-placeholder {
  color: #0099FA;
}
.form_elem.focus .form_elem_control::-webkit-input-placeholder {
  color: #0099FA;
}
.form_elem.focus .form_elem_control:focus::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_elem.focus .form_elem_control:focus:-ms-input-placeholder {
  color: transparent;
}
.form_elem.focus .form_elem_control:focus::-webkit-input-placeholder {
  color: transparent;
}
.form_elem .form_elem_control {
  margin: 0;
  width: 100%;
  z-index: 10;
  height: 57px;
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-weight: 400;
  overflow: hidden;
  color: #C3C2C3;
  position: relative;
  line-height: 3.2rem;
  display: inline-block;
  text-decoration: none;
  background: transparent;
  padding: 1.2rem 0.6rem 1.2rem 7.5rem;
  border-bottom: 1px solid #C3C2C3;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.form_elem .form_elem_control::-moz-placeholder {
  color: #C3C2C3;
  opacity: 1;
}
.form_elem .form_elem_control:-ms-input-placeholder {
  color: #C3C2C3;
}
.form_elem .form_elem_control::-webkit-input-placeholder {
  color: #C3C2C3;
}
.form_elem .form_elem_control::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form_elem .form_elem_control:focus {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.form_elem .form_elem_control:focus::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_elem .form_elem_control:focus:-ms-input-placeholder {
  color: transparent;
}
.form_elem .form_elem_control:focus::-webkit-input-placeholder {
  color: transparent;
}
.form_elem .form_elem_icon {
  top: 50%;
  left: 7px;
  z-index: 1;
  position: absolute;
  display: inline-block;
}
.form_elem .form_elem_icon.icon_envelope {
  width: 34px;
  height: 22px;
  margin-top: -13px;
}
.form_elem .form_elem_icon.icon_envelope .ico-svg {
  fill: #C3C2C3;
}
.form_elem .form_elem_icon.icon_lock {
  width: 34px;
  height: 33px;
  margin-top: -17px;
}
.form_elem .form_elem_icon.icon_lock .ico-svg {
  stroke: #C3C2C3;
}
.form_meta {
  margin: 0;
  padding: 2rem 0 0 0.5rem;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.form_meta > li {
  display: inline-block;
}
.form_meta > li:after {
  content: "|";
  padding: 0 8px;
  color: #0099FA;
}
.form_meta > li:last-child:after {
  display: none;
}
.form_meta > li a {
  color: #C3C2C3;
  font-size: 1.2rem;
  line-height: 2rem;
  text-decoration: none;
}
.form_meta > li a:hover {
  color: #0099FA;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
