.header {
	z-index: 1050;
	padding: 20px 0;
	background: #fff;
	@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.15));

	&__logo {
		float: left;
		width: 172px;
		height: 36px;
		padding: 2px 0;
		display: block;
	}

	&__nav {
		left: 0;
		top: 80px;
		opacity: 0;
		width: 100%;
		z-index: 1000;
		display: block;
		background: #fff;
		position: absolute;
		visibility: hidden;
		height: calc(100vh - 80px);
		padding: 30px 15px;
		@include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.15));
		@include transition(.3s);

		ul {
			margin: 0 auto;
			padding: 0 15px;
			list-style: none;

			li {

				a {
					width: 100%;
					color: #8091A5;
					padding: 6px 0;
					font-weight: 600;
					font-size: 1.2rem;
					line-height: 2rem;
					position: relative;
					display: inline-block;
					text-transform: uppercase;

					i {
						font-style: normal;
						padding: 0 2px;
						height: 16px;
						width: 24px;
						color: #fff;
						font-size: 12px;
						line-height: 16px;
						margin-left: 10px;
						text-align: center;
						display: inline-block;
						background: $color-rose;
						@include border-radius(8px);
					}

					&:hover {
						color: $color-rose;
						text-decoration: none;
					}
				}

				&.active {

					a {
						color: $color-rose;
					}
				}
			}
		}
	}

	&__toggle {
		float: right;
		width: 40px;
		height: 40px;
		font-size: 0;
		line-height: 0;
		display: block;
		padding: 11px 11px;
		@include transition(.3s);
		@include border-radius(50%);
		@include box-shadow(0px 0px 17px 0px rgba(63, 18, 110, 0.25));

		span {
			width: 100%;
			height: 3px;
			margin-bottom: 4px;
			display: inline-block;
			background: #000;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__settings {
		float: right;
		margin-right: 15px;
		position: relative;

		&_button {
			width: 40px;
			height: 40px;
			font-size: 0;
			line-height: 0;
			display: block;
			position: relative;
			background: #fff url("../img/icon_settings.png") 50% 50% no-repeat;
			@include border-radius(50%);
			@include box-shadow(0px 0px 17px 0px rgba(63, 18, 110, 0.25));

			&:before {
				top: 100%;
				left: 50%;
				content: "";
				z-index: 999;
				margin-top: -5px;
				margin-left: -10px;
				position: absolute;
				border: 10px solid transparent;
				border-bottom: 10px solid #fff;
				visibility: hidden;
				opacity: 0;
				@include transition(.3s);
			}
		}

		&_dropdown {
			right: 0;
			top: 100%;
			opacity: 0;
			z-index: 998;
			border: none;
			min-width: 200px;
			position: absolute;
			visibility: hidden;
			padding: 1.5rem 0 0 0;
			display: inline-block;
			@include transition(.3s);

			ul {
				margin: 0;
				background: #fff;
				padding: 0 10px;
				list-style: none;
				@include box-shadow(0px 0px 15px 0px rgba(66, 3, 125, 0.35));

				li {
					border-bottom: 1px solid #E4D3F6;

					&:last-child {
						border-bottom: none;
					}

					a {
						width: 100%;
						padding: 14px 0;
						font-size: 1.4rem;
						line-height: 2rem;
						color: $color-blue;
						display: inline-block;
						text-decoration: none;
						white-space: nowrap;

						&:hover {
							color: $color-rose;
							text-decoration: none;
						}
					}
				}
			}
		}

		&:hover {

			.header__settings_button {

				&:before {
					opacity: 1;
					visibility: visible;
				}
			}

			.header__settings_dropdown {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&__nav {

			ul {
				width: $container-sm;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__nav {

			ul {
				width: $container-md;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding: 30px 0;

		.container {
			position: relative;
		}

		&__toggle {
			display: none;
		}

		&__settings {
			top: 0;
			right: 15px;
			margin-right: 0;
			position: absolute;
		}

		&__nav {
			padding: 0;
			opacity: 1;
			top: auto;
			left: auto;
			right: auto;
			width: auto;
			height: auto;
			float: right;
			visibility: visible;
			margin-right: 60px;
			position: relative;
			background: transparent;
			@include box-shadow(none);

			ul {
				padding: 0;
				width: auto;
				@include flexbox();

				li {
					border-bottom: none;

					a {
						font-size: 12px;
						padding: 10px 10px;
						position: relative;

						i {
							top: -5px;
							left: 50%;
							margin-left: -12px;
							position: absolute;
						}
					}
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__nav {

			ul {

				li {
					padding: 0 8px;
				}
			}
		}
	}
}

.nav_open {
	height: 100vh;
	overflow: hidden;

	.header__toggle {
		@include rotate(90deg);
		@include transition(.3s);
	}

	.header__nav {
		opacity: 1;
		visibility: visible;
	}
}
