// Authorisation page

.auth_page {
	width: 100%;
	overflow: hidden;
	background: #fff;
	min-height: 100vh;
	position: relative;
	padding: 40px 20px;
	background-size: cover;
	@include flexbox();

	@media (min-width: $screen-md-min) {
		padding: 50px 40px;

	}
}

.auth {
	z-index: 100;
	margin: auto;
	padding: 25px 15px;
	background: #fff;
	max-width: 780px;
	position: relative;
	@include box-shadow(0px 0px 40px rgba(68, 23, 113, 0.08));

	.auth_form {

		.auth_form_title {
			color: #000;
			font-size: 2rem;
			font-weight: 500;
			text-align: center;
			margin-bottom: 20px;
			line-height: 2.4rem;
			text-transform: uppercase;
			font-family: $font-family-head;
		}

		.auth_form_button {
			padding-top: 20px;
		}

		.form_group {
			margin-bottom: 10px;
		}

		.btn_large {
			width: 100%;
		}

	}

	@media (min-width: $screen-sm-min) {
		padding: 50px 40px 70px 40px;

		.auth_form {

			.auth_form_title {
				font-size: 2.8rem;
				line-height: 3rem;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		width: 600px;
		padding: 50px 80px 70px 80px;

		.auth_form {
			width: 100%;
			margin: auto 0;
		}
	}

	@media (min-width: $screen-lg-min) {
		width: 760px;
		padding: 50px 120px 70px 120px;

		.auth_form {
			width: 100%;
			margin: auto 0;
		}
	}
}

.form_elem {
	position: relative;

	&:before {
		top: 50%;
		z-index: 1;
		left: 61px;
		width: 1px;
		content: '';
		height: 24px;
		display: block;
		margin-top: -12px;
		position: absolute;
		background: #C3C2C3;
	}

	&.focus {

		&:before {
			background: $color-blue;
		}

		.form_elem_icon {

			&.icon_envelope {

				.ico-svg {
					fill: $color-blue;
				}
			}

			&.icon_lock {
				width: 34px;
				height: 33px;
				margin-top: -17px;

				.ico-svg {
					stroke: $color-blue;
				}
			}
		}

		.form_elem_control {
			color: $color-blue;
			border-bottom-color: $color-blue;
			@include placeholder($color-blue);

			&:focus {
				@include placeholder(transparent);
			}
		}
	}

	.form_elem_control {
		margin: 0;
		width: 100%;
		z-index: 10;
		height: 57px;
		border: none;
		outline: none;
		font-size: 1.6rem;
		font-weight: 400;
		overflow: hidden;
		color: #C3C2C3;
		position: relative;
		line-height: 3.2rem;
		display: inline-block;
		text-decoration: none;
		background: transparent;
		padding: 1.2rem 0.6rem 1.2rem 7.5rem;
		border-bottom: 1px solid #C3C2C3;
		@include placeholder(#C3C2C3);
		@include transition(.3s);

		&::-ms-clear {
			display: none;
			width: 0;
			height: 0;
		}

		&:focus {
			@include placeholder(transparent);
			@include transition(.3s);
		}
	}

	.form_elem_icon {
		top: 50%;
		left: 7px;
		z-index: 1;
		position: absolute;
		display: inline-block;

		&.icon_envelope {
			width: 34px;
			height: 22px;
			margin-top: -13px;

			.ico-svg {
				fill: #C3C2C3;
			}
		}

		&.icon_lock {
			width: 34px;
			height: 33px;
			margin-top: -17px;

			.ico-svg {
				stroke: #C3C2C3;
			}
		}
	}

	@media (min-width: $screen-md-min) {

	}
}

.form_meta {
	margin: 0;
	padding: 2rem 0 0 0.5rem;
	list-style: none;
	@include flexbox();
	@include flex-wrap(wrap);

	> li {
		display: inline-block;

		&:after {
			content: '|';
			padding: 0 8px;
			color: $color-blue;
		}

		&:last-child {

			&:after {
				display: none;
			}
		}

		a {
			color: #C3C2C3;
			font-size: 1.2rem;
			line-height: 2rem;
			text-decoration: none;

			&:hover {
				color: $color-blue;
				text-decoration: none;
			}
		}
	}
}