.footer {
	color: #fff;
	padding: 25px 0;
	font-size: 1.4rem;
	line-height: 2rem;
	background: #004C7C;

	&__nav {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;

		li {
			margin-bottom: 5px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		a {
			color: #fff;
			text-decoration: none;

			&:hover {
				color: #fff;
				text-decoration: underline;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__nav {
			@include flexbox();
			@include justify-content(flex-end);

			li {

				&:after {
					content: '|';
					padding: 0 5px;
					margin-bottom: 0;
				}

				&:last-child {

					&:after {
						display: none;
					}
				}
			}
		}
	}
}