.profile {

	&__nav {
		width: 185px;
		margin-bottom: 15px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {

				a {

					font-size: 1.4rem;
					line-height: 2rem;
					padding: 6px 10px;
					color: $color-blue;
					white-space: nowrap;
					display: inline-block;

					&:hover {
						color: $color-rose;
					}
				}

				&.active {

					a {
						background: #fff;
						@include box-shadow(0px 0px 25px rgba(0, 153, 250, 0.2));
					}
				}
			}
		}
	}

	&__content {
		padding: 20px 20px 40px 20px;
		background: #fff;
		@include box-shadow(0px 0px 25px rgba(0, 153, 250, 0.2));
	}

	&__heading {
		position: relative;
		margin-bottom: 20px;

		h3 {
			margin-bottom: 5px;
		}

		&_value {
			font-weight: 700;
			font-size: 1.8rem;
			line-height: 2rem;
			color: $color-green;
			text-transform: uppercase;
			font-family: $font-family-head;
		}
	}

	&__photo {
		@include flexbox();

		&_item {
			width: 150px;
			@include flex-shrink(0);
		}

		&_text {
			padding-left: 20px;
			@include flex-grow(1);
		}

		&_remove {
			color: $color-red;
			text-decoration: underline;

			&:hover {
				color: $color-red;
				text-decoration: none;
			}
		}
	}

	&_status {
		padding-top: 1rem;
		display: inline-block;
	}

	&_divider {
		padding-top: 30px;
		margin-bottom: 30px;
		border-bottom: 1px solid rgba(0, 183, 241, 0.3);
	}

	&__work {
		padding: 0;
		margin: 0 -15px;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);

		> li {
			width: 50%;
			padding: 0 15px;
			margin-bottom: 30px;

			a {
				color: #000;
				display: block;
				position: relative;
				text-decoration: none;
			}

			span {
				top: 10px;
				right: 10px;
				font-size: 1.4rem;
				line-height: 2rem;
				position: absolute;
				display: inline-block;
			}
		}
	}

	&__social {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			margin-bottom: 4px;

			a {
				color: #000;
				text-decoration: none;

				&:hover {
					color: #000;
					text-decoration: underline;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		@include flexbox();

		&__nav {
			@include flex-shrink(1);

			ul {

				li {

					a {
						width: 100%;
						padding: 15px 20px;
						text-align: right;
					}
				}
			}
		}

		&__content {
			@include flex-grow(1);
		}

		&__heading {

			h3 {
				margin-bottom: 0;
			}

			&_value {
				top: 0;
				right: 0;
				position: absolute;
			}
		}

		&__photo {

			&_item {
				width: 186px;
			}
		}


		&__work {

			> li {
				width: 25%;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__nav {
			width: 200px;

			ul {

				li {

					a {
						width: 100%;
						padding: 15px 35px 15px 20px;
						text-align: right;
					}
				}
			}
		}

		&__content {
			padding: 30px 30px 40px 30px;
		}

		&__social {
			padding-top: 1rem;
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}


.photo_form {
	width: 100%;
	cursor: pointer;
	display: block;
	border: 1px solid #DFE6EE;

	input {
		display: none;
	}
}

.point_list {
	margin: 0;
	list-style: none;
	padding: 10px 0 0 0;

	li {
		margin-bottom: 4px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}


.prize {

	&__heading {
		margin-bottom: 20px;

		&_left {
			@include flexbox();
			@include flex-wrap(wrap);
		}

		&_right {

		}

		h3 {
			margin-bottom: 0;
			margin-right: 10px;
		}
	}

	&__remove {
		font-weight: 500;
		font-size: 1.2rem;
		line-height: 1.6rem;
		color: $color-rose;
		text-decoration: none;

		&:hover {
			color: $color-rose;
			text-decoration: underline;
		}
	}

	&__nav {
		font-size: 1.2rem;
		line-height: 2rem;
	}

	@media (min-width: $screen-md-min) {

		&__heading {
			@include flexbox();

			&_left {
				padding-right: 20px;
				@include flex-grow(1);
			}

			&_right {
				text-align: right;
			}
		}
	}
}

.test_type {
	display: none;

	&.active {
		display: block;
	}
}