.page {
	width: 100%;
	max-width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	@include flexbox();
	@include flex-direction(column);


	@media (min-width: $screen-lg-min) {
		overflow-x: inherit;
	}
}

.main {
	padding-top: 40px;
	padding-bottom: 50px;
	@include flex-grow(1);
}


.heading {
	padding: 30px 0;
	background: rgba(0, 153, 250, 0.03);

	h1,
	.h1 {
		padding: 0;
		color: #000;
		font-size: 24px;
		font-weight: 700;
		line-height: 30px;
		margin: 0 0 20px 0;
		text-transform: uppercase;

		sub {
			bottom: 0;
			font-weight: 400;
			font-size: 12px;
			line-height: 15px;
			text-transform: lowercase;
		}
	}

	&__filter {
		padding: 0;
		margin: 0 -7px;
		font-size: 0;
		line-height: 0;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);

		li {
			display: inline-block;
			margin: 0 7px 10px 7px;

			a {
				padding: 8px 12px;
				font-size: 1.2rem;
				line-height: 1.8rem;
				color: $color-blue;
				display: inline-block;
				text-decoration: none;
				border: 1px solid $color-blue;
				@include border-radius(4px);
				@include transition(.25s);

				&:hover {
					color: #fff;
					background: $color-blue;
				}
			}

			&.active {

				a {
					color: #fff;
					background: $color-blue;
				}
			}
		}
	}

	&__link {
		margin-bottom: 15px;
		display: inline-block;
		color: $color-blue;
		margin-right: 10px;

		&:hover {
			color: $color-blue;
			text-decoration: underline;
		}
	}

	&_white {
		background: #fff;
		padding-bottom: 20px;
	}

	@media (min-width: $screen-md-min) {

		&__row {
			@include flexbox();
			@include justify-content(space-between);
		}

		h1,
		.h1 {
			margin: 0;
			padding: 9px 0;
		}

		&__link {
			margin-top: -5px;
			margin-bottom: 0;
		}
	}
}

.change_position {
	margin: 0;
	padding: 0;
	width: 30px;
	list-style: none;
	@include flexbox();

	li {
		width: 14px;
		height: 20px;
		font-size: 2rem;
		line-height: 2rem;
		cursor: pointer;
	}
}

.btn_next {
	font-size: 1.2rem;
	line-height: 1.4rem;
	color: $color-blue;
	position: relative;
	text-decoration: none;
	padding: 5px 15px 5px 0;
	text-transform: uppercase;

	i {
		top: 0;
		right: 0;
		font-size: 2.4rem;
		line-height: 2.4rem;
		position: absolute;
	}


	&:hover {
		color: $color-rose;
		text-decoration: none;
	}
}

.new_question {
	margin-bottom: 10px;
	padding: 20px 20px 20px 20px;
	background: rgba(0,153,250, 0.05);

	&__remove {
		color: #BA0000;
		font-size: 1.2rem;
		line-height: 1.6rem;
		display: inline-block;
		text-decoration: none;
		margin-bottom: 5px;

		&:hover {
			color: #BA0000;
			text-decoration: underline;
		}
	}

	&__position {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		@include flexbox();
		@include justify-content(flex-start);

		li {
			font-size: 1.2rem;
			line-height: 1.6rem;
			display: inline-block;
			text-transform: lowercase;

			&:after {
				content: '|';
				padding: 0 4px;
			}

			&:last-child {

				&:after {
					display: none;
				}
			}

			a {

				color: $color-blue;
				text-decoration: underline;

				&:hover {
					color: $color-blue;
					text-decoration: none;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__position {
			@include justify-content(flex-end);
		}

		&__label {
			text-align: right;
		}
	}
}

.users_list {
	padding: 0;
	color: $color-blue;
	font-size: 1.4rem;
	line-height: 2rem;
	list-style: none;
	margin: 0 -15px 30px -15px;
	@include flexbox();
	@include flex-wrap(wrap);
	@include justify-content(space-between);

	> li {
		width: 50%;
		padding: 2px 15px;

		a,
		span {
			max-width: 100%;
			white-space: nowrap;
			display: inline-block;
		}

		a {
			overflow: hidden;
			color: $color-blue;
			text-decoration: none;

			&:hover {
				color: $color-blue;
				text-decoration: underline;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		> li {
			width: 33.33%;
		}
	}

	@media (min-width: $screen-lg-min) {

		> li {
			width: 20%;
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}

.users_work {
	padding: 0;
	color: $color-blue;
	font-size: 1.4rem;
	line-height: 2rem;
	list-style: none;
	margin: 0 -15px 30px -15px;
	@include flexbox();
	@include flex-wrap(wrap);
//	@include justify-content(space-between);

	> li {
		width: 50%;
		padding: 0 15px;
		margin-bottom: 30px;

		a {
			color: #000;
			display: block;
			position: relative;
			text-decoration: none;
		}

		span {
			top: 10px;
			right: 10px;
			font-size: 1.4rem;
			line-height: 2rem;
			position: absolute;
			display: inline-block;
		}
	}

	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {

		> li {
			width: 33.33%;
		}
	}

	@media (min-width: $screen-lg-min) {

		> li {
			width: 25%;
		}
	}

	@media (min-width: $screen-xl-min) {

		> li {
			width: 16.66%;
		}
	}
}

.users_avatar {
	width: 26px;
	height: 26px;
	font-size: 0;
	line-height: 0;
	margin-right: 10px;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	@include border-radius(50%);

	img {
		height: auto;
		display: inline-block;
		max-width: 100%;
		vertical-align: middle;
	}
}

.users_status {
	width: 10px;
	height: 10px;
	margin-right: 8px;
	background: $color-blue;
	display: inline-block;
	vertical-align: middle;
	@include border-radius(50%);

	&_green {
		background: $color-green;
	}

	&_rose {
		background: $color-rose
	}

	&_yellow {
		background: #F7B422;
	}

	&_purple {
		background: #AA00D5;
	}

	&_black {
		background: #000;
	}
}

.competition {
	margin-bottom: 30px;

	h3 {
		margin-bottom: 5px;
	}

	&__image {
		display: block;
		margin-bottom: 30px;
	}

	&__info {
		font-size: 1.3rem;
		line-height: 2rem;

		.h3 {
			margin-bottom: 5px;
		}

		p {
			margin-bottom: 20px;
		}
	}

	&__voice {
		padding: 0;
		list-style: none;
		margin: 0 -15px 30px -15px;
		@include flexbox();
		@include flex-wrap(wrap);

		> li {
			width: 100%;
			padding: 2px 15px;
		}
	}

	@media (min-width: $screen-md-min) {

		&__voice {

			> li {
				width: 50%;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__image {
			margin-bottom: 0;
		}

		&__voice {

			> li {
				width: 33.33%;
			}
		}
	}
}

.confirmation {

	> ul {
		margin: -1px 0 0 0;
		padding: 15px;
		list-style: none;
		border: 1px solid #DFE6EE;

		&:first-child {
			margin: 0;
		}

		&:nth-child(odd) {
			background: #F4F7FA;
		}

		> li {
			margin-bottom: 10px;
		}
	}

	&__buttons {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			&:first-child {
				margin-bottom: 10px;
			}
		}

		.btn {
			width: 100%;
		}
	}

	.form_control {
		background: #F6FBFF;
		border-color: #D8E6F3;
	}

	@media (min-width: $screen-sm-min) {

		&__buttons {
			margin: 0 -10px;
			@include flexbox();

			> li {
				width: 50%;
				padding: 0 10px;

				&:first-child {
					margin-bottom: 0;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		> ul {
			padding: 15px 5px;
			@include flexbox();

			> li {
				padding: 0 10px;

				&:nth-child(1) {
					width: 130px;
					@include flex-shrink(0);
				}

				&:nth-child(3) {
					@include flex-grow(1);
				}

				&:nth-child(4) {
					width: 190px;
					@include flex-shrink(0);
				}
			}
		}

		.form_control {
			height: 100%;
		}

		&__buttons {
			@include flex-direction(column);

			> li {
				width: 100%;


				&:first-child {
					margin-bottom: 10px;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		> ul {

			> li {

				&:nth-child(1) {
					width: 180px;
				}
			}
		}
	}
}

.image_manager {
	padding: 6px 0;
	font-weight: 600;
	font-size: 1.3rem;
	line-height: 2rem;
	text-align: right;

	a {
		color: $color-blue;

		&:hover {
			color: $color-blue;
			text-decoration: underline;
		}
	}

	.image_manager__remove {
		color: $color-rose;

		&:hover {
			color: $color-rose;
			text-decoration: underline;
		}
	}
}


.center_box {
	@include flexbox();

	&_inner {
		width: 100%;
		margin: auto 0;
	}
}



@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}