
.btn {
	color: #0099FA;
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 1.8rem;
	padding: 14px 40px;
	outline: none;
	cursor: pointer;
	user-select: none;
	text-align: center;
	background: transparent;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #0099FA;
	@include border-radius(24px);
	@include transition(.2s);

	&:hover {
		color: #fff;
		background: #0099FA;
		text-decoration: none;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn_border_rose {
	color: $color-rose;
	border-color: $color-rose;

	&:hover {
		color: #fff;
		background: $color-rose;
	}
}

.btn_border_red {
	color: $color-red;
	border-color: $color-red;

	&:hover {
		color: #fff;
		background: $color-red;
	}
}

.btn_border_blue {
	background: #fff;
	@include border-radius(0);
}

.btn_blue {
	color: #fff;
	background: $color-blue;
	@include border-radius(0);

	&:hover {
		background: #fff;
		color: $color-blue;
	}
}

.btn_sm {
	padding: 8px 30px;
	@include border-radius(18px);
}