.form_control {
	margin: 0;
	width: 100%;
	outline: none;
	height: 40px;
	color: #000;
	background: #fff;
	padding: 1rem 1rem;
	font-size: 1.4rem;
	line-height: 1.8rem;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #DFE6EE;
	@include placeholder(#7a7a7a);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus,
	&:active {
		outline: none;
		border-color: $color-blue;
		@include placeholder(transparent);
	}
}

textarea.form_control {
	height: auto;
}

.form_select {
	margin: 0;
	width: 100%;
	outline: none;
	height: 40px;
	color: #000;
	background: #fff;
	font-size: 1.4rem;
	line-height: 1.8rem;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #DFE6EE;
	padding: 0.8rem 2rem 0.9rem 1rem;
	@include placeholder(#dddddd);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus,
	&:active {
		outline: none;
		border-color: $color-blue;
		@include placeholder(transparent);
	}
}

.form_control_sm {
	height: 32px;
	font-size: 1.2rem;
	padding: 0.6rem 0.6rem;
}

.form_select_sm {
	height: 32px;
	font-size: 1.2rem;
	padding: 0.6rem 2rem 0.6rem 0.6rem;
}

.form_radio {
	font-size: 0;
	line-height: 0;
	padding: 7px 0;
	font-weight: 400;
	display: inline-block;

	input {
		display: none;
	}

	span {
		cursor: pointer;
		font-size: 1.4rem;
		line-height: 1.6rem;
		position: relative;
		display: inline-block;
		padding: 5px 0 5px 36px;

		&:before {
			top: 0;
			left: 0;
			z-index: 1;
			content: '';
			width: 26px;
			height: 26px;
			background: #fff;
			position: absolute;
			display: inline-block;
			border: 1px solid #DFE6EE;
			@include border-radius(50%);
		}

		&:after {
			top: 7px;
			left: 7px;
			z-index: 5;
			content: '';
			width: 12px;
			height: 12px;
			background: #fff;
			position: absolute;
			display: inline-block;
			@include border-radius(50%);
		}

		&:hover {

			&:before {
				border-color: $color-blue;
			}
		}
	}

	input:checked + span {

		&:before {
			background: $color-blue;
			border-color: $color-blue;
		}
	}
}

.form_checkbox {
	margin: 0;
	font-size: 0;
	line-height: 0;
	font-weight: 400;
	display: inline-block;

	input {
		display: none;
	}

	span {
		color: #000;
		cursor: pointer;
		position: relative;
		font-size: 1.2rem;
		line-height: 2rem;
		padding-left: 3rem;
		display: inline-block;

		&:after {
			top: 0;
			left: 0;
			content: '';
			width: 20px;
			height: 20px;
			position: absolute;
			display: inline-block;
			border: 1px solid #E0DEE9;
			@include border-radius(3px);
		}

		&:before {
			top: 4px;
			left: 3px;
			content: '';
			width: 14px;
			height: 12px;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			display: inline-block;
			background: url("../img/icon_check.svg") 50% no-repeat;
			background-size: cover;
		}

		&:hover {

			&:after {
				border-color: $color-blue;
			}
		}
	}

	input:checked + span {

		&:before {
			opacity: 1;
			visibility: visible;
		}
	}
}

.form_file {
	width: 100%;
	cursor: pointer;
	font-weight: 400;
	@include flexbox();

	&__input {
		display: none;
	}

	&__icon {
		width: 40px;
		height: 40px;
		color: $color-blue;
		padding: 9px 0;
		font-size: 2rem;
		line-height: 2rem;
		text-align: center;
		background: #fff;
		display: inline-block;
		@include flex-shrink();
		border: 1px solid #DFE6EE;
	}

	&__text {
		height: 40px;
		padding: 1rem;
		max-width: 100%;
		overflow: hidden;
		background: #fff;
		font-size: 1.4rem;
		line-height: 1.8rem;
		white-space: nowrap;
		display: inline-block;
		border-top: 1px solid #DFE6EE;
		border-bottom: 1px solid #DFE6EE;
		@include flex-grow(1);

		span {
			max-width: 100%;
			overflow: hidden;
			display: inline-block;
		}
	}

	&__btn {
		color: #fff;
		width: 100px;
		height: 40px;
		padding: 10px;
		font-size: 1.4rem;
		line-height: 2rem;
		text-align: center;
		text-decoration: none;
		background: $color-blue;
		display: inline-block;
		@include flex-shrink();
	}
}

.input_group {
	width: 100%;
	@include flexbox();

	.form_control {
		@include flex-grow(1);
	}

	.input_group_append {
		@include flexbox();
		@include flex-shrink(0);
	}

	.input_group_label {
		width: 110px;
		padding: 10px;
		color: #262626;
		font-size: 1.3rem;
		line-height: 2rem;
		text-align: center;
		background: #DFE6EE;
		display: inline-block;
	}

	.form_control + .input_group_append {

	}
}

.form_divider {
	height: 4px;
	background: #fff;
	margin-bottom: 15px;
}

.form_group {
	margin-bottom: 15px;
}

.form_label {
	display: block;
	font-size: 1.4rem;
	line-height: 1.8rem;
	margin-bottom: 5px;
}

.form_group_inline {

	.form_label {

	}

	@media (min-width: $screen-md-min) {

		.form_label_md {
			padding-top: 1rem;
			margin-bottom: 0;
			text-align: right;
		}
	}

	@media (min-width: $screen-lg-min) {

		.form_label {
			padding-top: 1rem;
			margin-bottom: 0;
			text-align: right;
		}
	}
}

.form_box {
	margin-bottom: 30px;
}

.form_info {
	color: #fff;
	padding: 10px;
	font-size: 1.3rem;
	line-height: 2rem;
	background: #B0BAC5;
}

.form_interval {
	padding: 0;
	width: 120px;
	margin: 0 -2px;
	list-style: none;
	@include flexbox();

	> li {
		width: 50%;
		padding: 0 2px;
	}
}


.divider_white {
	height: 5px;
	background: #fff;
	margin-bottom: 15px;
}