.pagination {
	padding: 0;
	font-size: 0;
	line-height: 0;
	margin: 0 -4px;
	list-style: none;
	@include flexbox();
	@include flex-wrap(wrap);
	@include justify-content(center);

	li {
		width: 40px;
		height: 40px;
		margin: 0 4px 8px 4px;
		display: inline-block;

		a {
			width: 40px;
			height: 40px;
			color: #000000;
			padding: 10px 0;
			text-align: center;
			font-size: 1.3rem;
			line-height: 1.8rem;
			display: inline-block;
			border: 1px solid #F4F7FA;

			&:hover {
				background: #DFE6EE;
			}
		}

		span {
			width: 40px;
			height: 40px;
			color: #000000;
			padding: 10px 0;
			text-align: center;
			font-size: 1.3rem;
			line-height: 1.8rem;
			display: inline-block;
			border: 1px solid #F4F7FA;
		}

		&.active {

			a,
			span {
				background: #DFE6EE;
			}
		}
	}
}