table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
}

.table {
	margin-bottom: 30px;

	th {
		padding: 10px;
		text-align: left;
		font-weight: 700;
		font-size: 1.2rem;
		line-height: 1.4rem;
	}

	td {

	}

	tr {

		td {
			background: #fff;
			font-size: 1.4rem;
			line-height: 2rem;
			padding: 15px 10px;
			border-top: 1px solid #DFE6EE;
			border-bottom: 1px solid #DFE6EE;

			&:first-child {
				border-left: 1px solid #DFE6EE;
			}

			&:last-child {
				border-right: 1px solid #DFE6EE;
			}
		}

		&:nth-child(even) {

			td {
				background: #F4F7FA;
			}
		}

		&:hover {

			td {
				background: #f5f5f5;
			}
		}
	}

	.form_select_sm,
	.form_control_sm {
		max-width: 160px;
	}
}

@media (max-width: $screen-md-max) {

	.table_responsive {
		width: 100%;
		margin-bottom: 30px;
		overflow-y: hidden;
		overflow-x: scroll;
		-ms-overflow-style: -ms-autohiding-scrollbar;

		.table {
			margin-bottom: 0;
		}
	}
}


.sort {
	cursor: pointer;
	display: inline-block;

	i {
		font-size: 1.4rem;
	}

	&.active {
		color: $color-blue;

		i {
			@include rotate(180deg);
		}
	}
}


.dataTables_paginate {
	@include flexbox();
	@include flex-wrap(wrap);
	@include justify-content(center);
}

.paginate_button {
	cursor: pointer;
	margin: 20px 2px 5px 2px;
	width: 40px;
	height: 40px;
	color: #000000;
	padding: 10px 0;
	text-align: center;
	font-size: 1.3rem;
	line-height: 1.8rem;
	text-decoration: none;
	display: inline-block;
	border: 1px solid #F4F7FA;

	&:hover {
		background: #DFE6EE;
		text-decoration: none;
	}

	&.next,
	&.previous {
		display: none !important;
	}

	&.current {
		background: #DFE6EE;
	}
}

.dataTables_length {
	margin-bottom: 10px;

	label {
		display: block;
	}

	select {
		margin: 0;
		width: auto;
		outline: none;
		height: 32px;
		font-size: 1.2rem;
		padding: 0.6rem 0.6rem;
		color: #000;
		background: #fff;
		line-height: 1.8rem;
		display: inline-block;
		vertical-align: middle;
		border: 1px solid #DFE6EE;
		@include placeholder(#dddddd);

		&::-ms-clear {
			display: none;
			width: 0;
			height: 0;
		}

		&:focus,
		&:active {
			outline: none;
			border-color: $color-blue;
			@include placeholder(transparent);
		}
	}
}

.dataTables_filter {
	margin-bottom: 10px;

	input {
		margin: 0;
		width: 160px;
		outline: none;
		color: #000;
		background: #fff;
		line-height: 1.8rem;
		display: inline-block;
		vertical-align: middle;
		height: 32px;
		font-size: 1.2rem;
		padding: 0.6rem 0.6rem;
		border: 1px solid #DFE6EE;
		@include placeholder(#7a7a7a);

		&::-ms-clear {
			display: none;
			width: 0;
			height: 0;
		}

		&:focus,
		&:active {
			outline: none;
			border-color: $color-blue;
			@include placeholder(transparent);
		}
	}
}
